<h1>Chat Room</h1>
<div id="messages">
  <%= render @messages %>
</div>
<p>Find me in app/views/rooms/show.html.erb</p>
<form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="room_speaker">
</form>
